<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
        <div id="app">
            <h1 v-bind:style = "color" > {{titulo}} </h1>
            
            <button v-on:click="cambiarColor" >Cambiar color</button>
           

            
                  <p> Código de factura:  {{ codigoFact }} </p> 
                  
                  <p> Número de cliente:  {{cliente}}</p>  

                  <ol>
                      <li v-for="item in items">
                          <p>{{item.precio}}</p>
                          <p>{{item.descripcion}}</p>
                      </li>
                  </ol>
                  <button v-on:click = "ordenarPorDescripcion">Ordenar por descripción </button>                
                  <button v-on:click = "agregarItem"> Agregar item</button> 
                  <input v-model="itemAgregado">
                  <input v-model="precioItem">
                  <br>
                  <br>
                  <button v-on:click = "mostrarDatos"> Mostrar por consola </button>

                

             

            



        </div>
</body>

<script>
    var app = new Vue({
            el: '#app',
            data: {
            color: "color: green",
            titulo: 'Sistema de facturación',
            codigoFact : 465654654,
            cliente: 12,
            items: [{precio: 130, descripcion: 'PINZA'}, 
                    {precio: 200, descripcion: 'MARTILLO'},
                    {precio: 150, descripcion: 'DESTORNILLADOR'}
            ],
               
            itemAgregado: "ingrese item",
            precioItem:   0,

             }, 
             methods: {
                 cambiarColor(){
                     this.color = "color: blue;"
                 }, 
                 agregarItem(){
                  
                   this.items.push({ precio: this.precioItem,  descripcion: this.itemAgregado.toUpperCase()})
                   
                 },
                 ordenarPorDescripcion() {
                     this.items = this.items.sort( (a,b)=> ( a.descripcion.localeCompare(b.descripcion) ) )
                 },
                 mostrarDatos() {
                     console.log(JSON.stringify(this.codigoFact), JSON.stringify(this.cliente), JSON.stringify(this.items))
                 }
             }

            })
</script>
</html>